@charset "utf-8";

/* 基本設定
 ------------------------- */
body {
    font-family: "Arial";
    font-size: 100%;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

nav, header, main, footer { display: block; }

h1,h2,h3,h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

ul, li {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

a {text-decoration: none;}



.center { text-align: center; }

/* ヘッダー
 ----------------------*/
header {
    width: 100%;
    padding: 0em 0em 0.5em;
    background: rgb(97, 193, 231);
    position: relative;
    text-align: center;
    color: #FFF;
}
header nav {
	background: rgba(0, 0, 0, 0.1) ;
	padding: 2% 0; 
	width: 100%;
	position: auto;
	top: 0;
}
header nav ul{
	margin: auto;
	text-align: center;
}
header nav ul li{
	display: inline-block;
}
header nav ul li a{
	color: #FFF;
	font-family: "Montserrat",sans-serif;
	font-size: 100%;
    padding: 0 0.5em;
    cursor: pointer;
}
header h1 a {
    color: #FFF;
}
/* メインエリア
 -------------------------------------------- */
main {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5em 2em;
    margin: 2em;
    color: #5d627b;
    background: rgb(255, 255, 255);
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* ボタン
 -------------------------------------------- */
/* 位置情報サービスの許可 */
 .btn-square1 {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.1em;
    text-decoration: none;
    background: #e05c5c;/*ボタン色*/
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .btn-square1:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  /* 位置情報の提供 */
  .btn-square2 {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.1em;
    text-decoration: none;
    background: #fa6964;/*ボタン色*/
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .btn-square2:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }
  /* アンケートに回答する */
  .btn-square3 {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .btn-square3:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
    
  }

/* 送信・リセットボタン
 -------------------------------------------- */
.submit {
    background-color: #dee7ec;
    color: #000000;
}

.reset {
    background-color: #dee7ec;
    color: #000000;
}

/* フッター
 -------------------------------------------- */
footer {
	background-color: #0f2347;
	color: #fff;
	font-family: "Montserrat",sans-serif;
	text-align: center;
    max-width: 100%;
    max-height: 100%;
    padding: 10%;
}
footer nav ul {
    margin: 0%;
    text-align: center;
}
footer nav ul li {
    display: inline;
}
footer nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 1%;
}
